run_pytest: &run_pytest
    steps:
        - checkout
        - run: virtualenv venv
        - run:
            name: install
            command: |
                source venv/bin/activate
                pip install pytest coverage pytest-cov codecov
                sudo apt install cdo libnetcdf-dev
                pip install -e .[test]
        - run:
            name: test
            command: |
                source venv/bin/activate
                mkdir -p test-report/pytest
                py.test --cov=coecms --cov-report xml
                codecov

run_conda: &run_conda
    docker:
        - image: circleci/python
    steps:
        - checkout
        - run:
            name: install-conda
            command: |
                wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O conda.sh
                bash conda.sh -b -p ~/miniconda
        - run:
            name: setup
            command: |
                ~/miniconda/bin/conda install --yes conda-build conda-verify anaconda-client
                ~/miniconda/bin/conda config --system --add channels conda-forge
        - run:
            name: build
            command: |
                source ~/miniconda/bin/activate root
                ~/miniconda/bin/conda build --python=${PYTHON_VER} -c conda-forge conda/

version: 2

jobs:
    python2:
        docker:
            - image: circleci/python:2
        <<: *run_pytest
    python3:
        docker:
            - image: circleci/python:3
        <<: *run_pytest
    conda3:
        environment:
            PYTHON_VER=3
        <<: *run_conda

workflows:
    version: 2
    pytest:
        jobs:
            - python2
            - python3
            - conda3
